@import "../index.scss";

.container {
    display: flex;
    flex-direction: column;
}
.bodyContainer {
    // height: 100vh;
    background-color: $light;
}
.paddedArea {
    padding: 2rem 5rem;
}
.paddedArea > * {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.spacerText {
    padding-top: 2.5rem;
    margin-bottom: 0;
}
.spacerText .inline {
    justify-content: space-between;
}
.spacerText h1 {
    font-size: 2.5rem;
}
.spacerText p {
    font-size: 1.4rem;
}
.spacerText button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: $black;
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 23px;
    transition: 0.4s;
}
.spacerText button:hover {
    margin-right: -0.8rem;
    cursor: pointer;
}
.inline .fa-arrow-right-long {
    margin-left: 1rem;
    color: $black;
}

.bodyDark {
    display: flex;
    justify-content: center;
    background-color: $dark;
    padding: 5rem;
    background-image: radial-gradient(#a0a188 1px, transparent 1px), radial-gradient(#a0a188 1px, #38434a 1px);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
}

@media only screen and (max-width: 700px) {
    .paddedArea {
        padding: 1rem 1rem;
    }
    .spacerText {
        padding-top: 1rem;
    }
    .spacerText h1 {
        font-size: 2rem;
    }
    .spacerText .inline p {
        font-size: 1.2rem;
    }
    .spacerText .inline button {
        font-size: 1.2rem;
    }
    .bodyDark {
        padding: 1rem;
    }
}
@media only screen and (max-width: 500px) {
    .paddedArea {
        padding: 1rem 1rem;
    }
    .spacerText {
        padding-top: 1rem;
    }
    .spacerText h1 {
        font-size: 2rem;
        line-height: 2rem;
    }
    .spacerText .inline p {
        font-size: 1.2rem;
    }
    .spacerText .inline button {
        font-size: 1.2rem;
    }
}
